.flowers-container {
    background-color: lightsalmon;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}

.card {
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px;
    padding: 20px;
    
}

.card-element {
    padding: 10px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-weight: bold;
}

.card img {
    width: 500px; 
    height: 500px; 
}